//
// components.scss
//


.bg-custom {
    background-color: $custom;
}

.bg-light {
    background-color: $light !important;
}

.bg-dark {
    background-color: $dark !important;
}

.text-white-70 {
    color: rgba(255, 255, 255, 0.7)!important;
}

.text-custom {
    color: $custom;
}

.text-muted {
    color: $muted !important;
}

.text-dark {
    color: $dark !important;
}

.btn {
    padding: 10px 24px;
    font-size: 15px;
    letter-spacing: 0.6px;
    &:focus {
        box-shadow: none;
    }
}

.btn-md {
    padding: 7px 14px;
    font-size: 13px;
    letter-spacing: 0.6px;
    &:focus {
        box-shadow: none;
    }
}


.btn-dark-custom {
    color: $white;
    background-color: $dark;
    border: 1px solid $dark;
}

.btn-dark-custom:hover,
.btn-dark-custom:focus,
.btn-dark-custom:active,
.btn-dark-custom.active,
.btn-dark-custom.focus,
.btn-dark-custom:active,
.open>.dropdown-toggle .btn-dark-custom {
    color: $white;
    background-color: $dark;
}

.btn-white {
    color: $custom;
    background-color: $white;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.open>.dropdown-toggle .btn-white {
    color: $custom;
    background-color: $white;
}

.btn-outline-dark {
    color: $dark;
    border: 1px solid $dark;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.focus,
.btn-outline-dark:active,
.btn-outline-dark:focus,
.btn-outline-dark:hover,
.open>.dropdown-toggle .btn-outline-dark {
    color: $white;
    border: 1px solid $dark;
    background-color: $dark;
}