//
// home.scss
//


.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: middle;
}

.bg-heading {
    background-size: cover;
    position: relative;
    padding: 270px 0px 200px 0px;
}

.bg-image {
    background: url(../images/bg-1.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 320px 0px 250px 0px;
}

.home-dark{
    background-size: cover;
    position: relative;
    padding: 200px 0px 200px 0px;
}


.bg-title{
    background-size: cover;
    position: relative;
    padding: 180px 0px 110px 0px;
}

.home-social {
    li {
        margin: 0px 10px;
    }
    a {
        color: $white;
        font-size: 20px;
        &:hover {
            color: $white;
            transition: all .3s ease;
        }
    }
}

.home-dark-box {
    overflow-x: hidden;
    max-width: 1300px;
    margin: 0 auto;
}