//
// responsive.scss
//
@media (min-width: 992px) {
    #topnav .navigation-menu > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #topnav .navigation-menu > li.last-elements .submenu {
        left: auto;
        right: 0;
    }
    #topnav .navigation-menu > li.last-elements .submenu > li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px;
    }
    #topnav .navigation-menu > li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        padding: 10px 0;
        list-style: none;
        min-width: 180px;
        visibility: hidden;
        opacity: 0;
        border-radius: 3px;
        margin-top: 10px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background-color: $white;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
    }
    #topnav .navigation-menu > li .submenu.megamenu {
        white-space: nowrap;
        width: auto;
    }
    #topnav .navigation-menu > li .submenu.megamenu > li {
        overflow: hidden;
        width: 180px;
        display: inline-block;
        vertical-align: top;
    }
    #topnav .navigation-menu > li .submenu > li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px;
    }
    #topnav .navigation-menu > li .submenu li {
        position: relative;
    }
    #topnav .navigation-menu > li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }
    #topnav .navigation-menu > li .submenu li a {
        display: block;
        padding: 6px 20px;
        clear: both;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 13px;
        letter-spacing: 1px;
        color: $dark !important;
        transition: all 0.3s;
    }
    #topnav .navbar-toggle {
        display: none;
    }
    #topnav #navigation {
        display: block !important;
    }
    .navigation-menu > li:hover > a {
        color: $dark !important;
    }
    #topnav .navigation-menu > li:hover > a {
        color: $white;
    }
    .navigation-menu > li:hover > .menu-arrow {
        border-color: $dark;
    }
    #topnav.scroll-active .navigation-menu > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #topnav.scroll .navigation-menu > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #topnav.scroll {
        top: 0;
    }
}

@media (max-width: 991px) {
    .menu-arrow {
        top: 15px;
        right: 20px;
    }
    .submenu-arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: absolute;
        right: 20px;
        top: 12px;
    }
    .logo {
        padding: 0 !important;
        line-height: 0;
    }
    #topnav .container {
        width: auto;
    }
    #topnav .navigation-menu {
        float: none;
        max-height: 400px;
    }
    #topnav .navigation-menu > li {
        float: none;
    }
    #topnav .navigation-menu > li > a {
        color: $dark;
        padding: 10px 20px;
    }
    #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu > li.has-submenu.open > a,
    #topnav .menu-extras .menu-item .cart > a:hover,
    #topnav .menu-extras .menu-item .search > a:hover {
        color: $primary;
    }
    #topnav .navigation-menu > li > a:after {
        position: absolute;
        right: 15px;
    }
    #topnav .navigation-menu > li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    }
    #topnav .navigation-menu > li .submenu li a {
        display: block;
        padding: 6px 15px;
        clear: both;
        white-space: nowrap;
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $dark;
        transition: all 0.3s;
    }
    #topnav .navigation-menu .submenu.open .has-submenu.open > a {
        color: $primary;
    }
    #topnav .navigation-menu > li .submenu.open {
        display: block;
    }
    #topnav .navigation-menu > li .submenu .submenu {
        display: none;
        list-style: none;
    }
    #topnav .navigation-menu > li .submenu .submenu.open {
        display: block;
    }
    #topnav .navigation-menu > li .submenu.megamenu > li > ul {
        list-style: none;
        padding-left: 0;
    }
    #topnav .navigation-menu > li .submenu.megamenu > li > ul > li > span {
        display: block;
        position: relative;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: $muted;
    }
    #topnav .navbar-toggle span {
        background-color: $dark;
    }
    #topnav .navbar-header {
        float: left;
    }
    #topnav .logo {
        padding: 11px 0;
    }
    #topnav .logo .logo-light {
        display: none;
    }
    #topnav .logo .logo-dark {
        display: block;
    }
    #topnav .has-submenu.active a {
        color: $dark !important;
    }
    #navigation {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto;
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
        background-color: $white;
    }
    #navigation.open {
        display: block;
        overflow-y: auto;
    }
}

@media (min-width: 768px) {
    #topnav .navigation-menu > li.has-submenu:hover > .submenu {
        visibility: visible;
        opacity: 1;
        margin-top: 0;
    }
    #topnav .navigation-menu > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 768px) {
    #topnav {
        background-color: $white !important;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2) !important;
    }
    #topnav .logo {
        line-height: 70px !important;
    }
    #topnav .navigation-menu > li > a {
        color: $dark !important;
    }
    .menu-arrow {
        border: solid $dark;
        border-width: 0 1px 1px 0;
    }
    .navbar-sticky .logo {
        color: $dark !important;
    }
    .navigation-menu .has-submenu.active a {
        border-bottom: none !important;
    }
    .navbar-sticky.darkheader .navigation-menu .has-submenu.active a {
        border-bottom: none !important;
    }
    .navbar-sticky.darkheader .menu-arrow {
        border: solid $dark;
        border-width: 0 1px 1px 0;
    }
    .instagram-lable{
        display: none;
    }
}

@media (max-width: 425px) {
    #topnav .navigation-menu > li {
        margin: 0 0px;
    }
}